@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
  color: #212121;
}
a:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #212121;
  line-height: 1.5;
}

button {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

li {
  list-style: none;
}

.header {
  padding: 20px 0 10px;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.scroll-nav {
  background-color: rgba(233, 221, 222, 0.8);
  /*Style: only for scroll nav bar (JS)*/
}

.hero-divider {
  height: 40px;
  width: 100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#E9DDDE), color-stop(0.49, #E9DDDE), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 50px 100%;
}

.hero-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  height: 100vh;
  background-image: url(../images/hero-toy-1920.jpg);
  /*toy*/
  background-size: cover;
}
.hero-wrapper .hero-bottom {
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 30%;
  background-color: #E9DDDE;
  border-radius: 20px;
}
.hero-wrapper .hero-bottom .btn-contact {
  margin-top: 2rem;
  padding: 1.3rem 2rem;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid #212121;
}
.hero-wrapper .hero-bottom .btn-contact:hover {
  cursor: pointer;
  background-color: #212121;
  color: white;
  transition: 0.3s;
}
.hero-wrapper .hero-bottom .job-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.hero-wrapper .hero-bottom i {
  padding-right: 0.5rem;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 3rem;
}

.title-wrapper {
  text-align: center;
  margin: 0 auto;
  padding-top: 10rem;
}

#nav-sp {
  position: absolute;
  top: -100%;
}

.work {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.work .btn-work {
  padding: 1.3rem 2rem;
  border-radius: 20px;
  background-color: #E2DDE9;
  border: none;
  margin: 2rem auto 2rem;
}
.work .btn-work:hover {
  cursor: pointer;
  background-color: #a396b5;
  color: white;
  transition: 0.3s;
}
.work .pj {
  position: relative;
}
.work .pj .mask {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.6s ease;
  cursor: pointer;
}
.work .pj .mask:hover {
  opacity: 1;
}
.work .pj .mask .caption {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 50%;
}
.work .pj-hide {
  display: none;
}
.work img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #E2DDE9;
}
.work .wrapper-h2 {
  border: none;
  border-bottom: 2px dotted #E2DDE9;
  border-width: 10px;
  width: 20%;
  margin: 60px auto;
}
.work .wrapper-pj {
  display: flex;
  justify-content: space-around;
}

.about {
  background-color: #DDE9E8;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.about .wrapper-h2 {
  border: none;
  border-bottom: 2px dotted white;
  border-width: 10px;
  width: 20%;
  text-align: center;
  margin: 60px auto;
}
.about .wrapper-img-txt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  margin: 0 auto;
}
.about .wrapper-img-txt .about-img {
  margin-right: 20px;
  position: relative;
}
.about .wrapper-img-txt .about-img .design-circle {
  width: 250px;
  height: 230px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  border-width: 0.2rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.about .wrapper-img-txt .about-img .design-circle2 {
  width: 250px;
  height: 230px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  border-width: 0.2rem;
  position: absolute;
  top: -0.7rem;
  left: -0.7rem;
}
.about .wrapper-img-txt .about-img img {
  width: 250px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
}
.about .wrapper-img-txt .about-txt {
  width: 90%;
}
.about .wrapper-img-txt .btn-about {
  margin-top: 2rem;
  padding: 1.3rem 2rem;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid #212121;
}
.about .wrapper-img-txt .btn-about:hover {
  cursor: pointer;
  background-color: #212121;
  color: white;
  transition: 0.3s;
}

.qualifications {
  margin-bottom: 4rem;
}
.qualifications .qualification-btn button {
  background-color: #E2DDE9;
  border: none;
  margin-top: 2rem;
  padding: 1.3rem 2rem;
  border-radius: 20px;
}
.qualifications .qualification-btn button:hover {
  cursor: pointer;
  background-color: #a396b5;
  color: white;
  transition: 0.3s;
}
.qualifications .wrapper-h2 {
  border: none;
  border-bottom: 2px dotted #E2DDE9;
  border-width: 10px;
  width: 30%;
  margin: 60px auto;
  text-align: center;
}
.qualifications #wrapper-tabs {
  width: 60%;
  margin: 0 auto;
}
.qualifications #wrapper-tabs .tab-btns .tab-btn {
  padding: 1rem 1rem;
  background-color: transparent;
  border: 1px solid #E2DDE9;
  cursor: pointer;
}
.qualifications #wrapper-tabs .tab-btns .tab-btn:hover {
  background-color: #a396b5;
  color: white;
  transition: 0.3s;
}
.qualifications #wrapper-tabs .tab-btns .tab-btn.active {
  background-color: #E2DDE9;
}
.qualifications #wrapper-tabs .content {
  border: 3px solid #E2DDE9;
  margin: 0 auto;
  padding: 30px 30px;
  display: none;
}
.qualifications #wrapper-tabs .content.active {
  display: block;
}
.qualifications #wrapper-tabs .content li {
  list-style-type: circle;
}

.skills {
  background-color: #E9DDDE;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.skills .skill-box {
  text-align: center;
  padding-top: 80px;
  border: 1px solid white;
}

.contact .wrapper-h2 {
  border: none;
  border-bottom: 2px dotted #DDE9E8;
  border-width: 10px;
  width: 20%;
  margin: 60px auto 30px;
  text-align: center;
}
.contact-comment {
  text-align: center;
}
.contact .form {
  width: 60%;
  border: 3px solid #DDE9E8;
  border-radius: 20px;
  margin: 60px auto;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.contact .form .contact-info {
  margin: 0 auto;
}
.contact .form .contact-info input {
  border: none;
  border-bottom: 1px solid #DDE9E8;
  font-size: 0.9rem;
  padding: 5px 5px;
  outline: none;
  width: 50%;
}
.contact .form .contact-info .message {
  border: 1px solid #DDE9E8;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.2rem;
  outline: none;
  width: 90%;
}
.contact .form .msg {
  grid-column: 1/3;
}
.contact .form .btn {
  grid-column: 1/3;
}
.contact .form button {
  border: none;
  background-color: #DDE9E8;
  margin-top: 2rem;
  padding: 1.3rem 2rem;
  border-radius: 20px;
}
.contact .form button:hover {
  cursor: pointer;
  background-color: #a5c2bf;
  color: white;
  transition: 0.3s;
}

.footer {
  background-color: #212121;
  height: 150px;
  text-align: center;
}
.footer i {
  color: #212121;
}
.footer-bar {
  background-color: #E9DDDE;
  height: 40px;
}
.footer-btn-back {
  padding-top: 10px;
}
.footer-copyright {
  color: white;
  display: block;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer-sns {
  margin: 0 auto;
}
.footer-sns i {
  color: white;
  padding-right: 1rem;
}
.footer .fa-copyright {
  color: white;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  .work .wrapper-pj {
    display: flex;
    flex-direction: column;
  }
  .work .wrapper-pj .pj {
    margin-bottom: 2rem;
    position: relative;
  }
  .work .wrapper-pj .pj .mask {
    width: 250px;
    height: 250px;
    border-radius: 30%;
    position: absolute;
    top: 5%;
    left: 36%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.6s ease;
    cursor: pointer;
  }
  .work .wrapper-pj .pj .mask:hover {
    opacity: 1;
  }
  .work .wrapper-pj .pj .mask .caption {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 50%;
  }

  .about .wrapper-img-txt .about-img .design-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    border-width: 0.2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
  .about .wrapper-img-txt .about-img .design-circle2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    border-width: 0.2rem;
    position: absolute;
    top: -0.7rem;
    left: -0.7rem;
  }
  .about .wrapper-img-txt .about-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
  }
  .about .wrapper-img-txt .about-txt {
    font-size: 1rem;
  }

  .qualifications #wrapper-tabs .tab-btns .tab-btn {
    font-size: 0.9rem;
  }
}
/*Tablet end*/
@media screen and (max-width: 576px) {
  h2 {
    font-size: 2rem;
  }

  div, p, a, span {
    font-size: 1rem;
  }

  .header {
    display: none;
  }

  #nav-sp {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.7s;
    text-align: center;
    z-index: 100;
  }
  #nav-sp.active {
    transform: translateY(100%);
  }
  #nav-sp li {
    padding: 3.5rem 0 0.3rem;
    border-bottom: 1px solid #E9DDDE;
    width: 30%;
    margin: 0 auto;
  }

  .menu-trigger {
    z-index: 101;
    right: 0;
    margin: 10px;
    position: fixed;
    width: 50px;
    height: 44px;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    background-color: #E9DDDE;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .menu-trigger #line1 {
    top: 0;
  }
  .menu-trigger #line2 {
    top: 20px;
  }
  .menu-trigger #line3 {
    bottom: 0;
  }

  #menu-arrow.active #line1 {
    transform: translateY(20px) rotate(-45deg);
    transition: 0.5s;
  }

  #menu-arrow.active #line2 {
    opacity: 0;
    transition: 0.5s;
  }

  #menu-arrow.active #line3 {
    transform: translateY(-20px) rotate(45deg);
    transition: 0.5s;
  }

  .hero-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    height: 90vh;
    width: 100%;
    background-image: url(../images/hero-toy-640.jpg);
    /*toy*/
    background-size: cover;
  }
  .hero-wrapper .hero-bottom {
    text-align: center;
    margin: 10px auto;
    width: 30%;
    background-color: #E9DDDE;
    border-radius: 20px;
  }
  .hero-wrapper .hero-bottom .job-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
  }

  .title-wrapper {
    padding-top: 5rem;
  }
  .title-wrapper .heading-name {
    margin-top: 0;
    font-size: 3rem;
  }

  .work .wrapper-h2 {
    margin: 2rem 2rem;
    width: 10rem;
    text-align: left;
  }
  .work .btn-work {
    margin: 0 auto 2rem;
  }
  .work .wrapper-pj {
    display: flex;
    flex-direction: column;
  }
  .work .wrapper-pj .pj {
    margin-bottom: 2rem;
    position: relative;
  }
  .work .wrapper-pj .pj .mask {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 140px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.6s ease;
    cursor: pointer;
  }
  .work .wrapper-pj .pj .mask:hover {
    opacity: 1;
  }
  .work .wrapper-pj .pj .mask .caption {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 50%;
  }

  .about .wrapper-h2 {
    margin: 2rem 2rem;
    width: 10rem;
    text-align: left;
  }
  .about .wrapper-img-txt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .about .wrapper-img-txt .about-img {
    margin: 0 auto 3rem;
  }
  .about .wrapper-img-txt .about-img .design-circle {
    position: initial;
  }

  .qualifications .wrapper-h2 {
    margin: 2rem 2rem;
    width: 18rem;
    text-align: left;
  }
  .qualifications .wrapper-h2 .heading-qualifications {
    font-size: 2rem;
  }

  .skills {
    background-color: #E9DDDE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .skills .skill-box {
    text-align: center;
    padding: 0;
    padding-top: 1.2rem;
    border: 1px solid white;
  }

  .contact .wrapper-h2 {
    margin: 2rem 2rem;
    width: 12rem;
    text-align: left;
  }
  .contact-comment {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }
  .contact .form {
    width: 80%;
    border: 3px solid #DDE9E8;
    border-radius: 20px;
    margin: 60px auto;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .form .contact-info {
    margin: 0.5rem 1rem;
  }
  .contact .form .contact-info input {
    border: none;
    border-bottom: 1px solid #DDE9E8;
    font-size: 0.9rem;
    width: 70%;
  }
  .contact .form .contact-info .message {
    border: 1px solid #DDE9E8;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1.2rem;
    width: 90%;
  }
}
/*SMARTPHONE END*//*# sourceMappingURL=style.css.map */