@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;700&display=swap');

// ===VARIABLES===
$main-color: #E9DDDE;
$sub-color-green: #DDE9E8;
$sub-color-purple: #E2DDE9;
$sub-color-dgray: #212121;
$heading-font: 'Lobster', cursive;
$general-font: 'Montserrat', sans-serif;
$font-size-h1: 4rem;
$font-size-h2: 2.5rem;
$font-size-h3: 1.5rem;
$font-size-general: 1.2rem;

// ===ELEMENTS===
* {
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
  color: $sub-color-dgray;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: .3s;
  }
}

body {
  font-family: $general-font;
  font-size: $font-size-general;
  line-height: 1.5;
}

button {
  font-weight: 700;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-family: $heading-font;
  font-size: $font-size-h2;
}

li {
  list-style: none;
}

// ===ID'S===
// Hero
// Work
// About
// Qualifications
// Skills
// Contact
// Footer

// ===CLASSES===
// Common
.wrapper-h2 {
  // padding-top: 10px;
  border: none;
  border-bottom: 2px dotted $sub-color-purple;
  border-width: 10px;
  width: 20%;
  margin: 60px auto;
}

// Hero
.header {
  padding: 30px 10px;
  height: 5%;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}
   
.hero-wrapper {
  background-color: $main-color;
  height: 90vh;

 

  .hero-bottom {
    text-align: center;
    margin-top: 30px;

    .btn-contact {
      margin-top: 2rem;
      padding: 1.3rem 2rem;
      border-radius: 20px;
      background-color: transparent;
      border: 3px solid $sub-color-dgray;
      &:hover {
        cursor: pointer;
        background-color: $sub-color-dgray;
        color: white;
        transition: .3s;
      }
    }
    .job-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;

    }
  }
}

.logo {
  font-family: $heading-font;
  font-size: 2rem;
}

.title-wrapper {
  width: 50%;
  height: 55%;
  text-align: center;
  margin: 0 auto;
  position: relative;

  .design {
    width: 250px;
    height: 400px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 32%;
    transform: rotate(60deg);
    z-index: 1;
  }

  .design2 {
    width: 250px;
    height: 400px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 32%;
    transform: rotate(-60deg);
    z-index: 1;
  }

  .heading-name {
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  

  
}
// Work
.work {
  text-align: center;
  height: 600px;
  display: flex;
  flex-direction: column;

  .btn-work {
    margin-top: 2rem;
    padding: 1.3rem 2rem;
    border-radius: 20px;
    background-color: $sub-color-purple;
    border: none;
    width: 200px;
    margin: auto;
  }

  // .pj {
  //   width: 30%;
  //   height: 30%;
  //   object-fit: cover;
  // }

  .pj-hide {
    display: none;
  }

  img {
    width: 300px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid $sub-color-purple;
  }

  .wrapper-pj {
    display: flex;
    justify-content: space-around;
  }

}
// About
.about {
  background-color: $sub-color-green;
  height: 525px;
  display: flex;
  flex-direction: column;
 
  .wrapper-h2 {
    border: none;
    border-bottom: 2px dotted white;
    border-width: 10px;
    width: 20%;
    text-align: center;
  }

  img {
    width: 250px;
    height: 230px;
    border-radius: 50%;
  }


  .wrapper-img-txt {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .about-img {
      margin-right: 40px;
    }

    .about-txt {
      width: 80%;
    }


    .btn-about {
      margin-top: 2rem;
      padding: 1.3rem 2rem;
      border-radius: 20px;
      background-color: transparent;
      border: 3px solid $sub-color-dgray;
      &:hover {
        cursor: pointer;
        background-color: $sub-color-dgray;
        color: white;
        transition: .3s;
      }
    }

  }


}
// Qualifications
.qualifications {
  height: 600px;

  .wrapper-h2 {
    border: none;
    border-bottom: 2px dotted $main-color;
    border-width: 10px;
    width: 20%;
    // margin: 60px auto;
    text-align: center;
  }
}
// Skills
.skills {
  background-color: $sub-color-purple;
  height: 400px;
}
// Contact
.contact {
  height: 600px;
}
// Footer
.footer {
  background-color: $sub-color-dgray;
  height: 150px;
  text-align: center;
  i {
    color: $sub-color-dgray;
  }

  &-bar {
    background-color: $sub-color-green;
    height: 40px;
  }
  
  &-btn-back {
    padding-top: 10px;
  }

  &-copyright {
    color: white;
    display: block;
    padding-top: 2rem;
  }

  .fa-copyright {
    color: white;
  }
}
